<!DOCTYPE html>
<html>
<head>
    <title>DBMS Final Project</title>
    <link rel="stylesheet" href="/static/css/highcharts.css" />
    <link rel="stylesheet" href="/static/css/search.css" />
    <script>
        const product_id = '{{product_id}}';
    </script>
</head>
<body>
    <div class="content">
        <div class="section title">
            <h1>Search for something</h1>
        </div>
        <input type="text" id="search" autocomplete="off"></input>
        <div id="links-container"></div>
    </div>
    <script src="/static/js/search.js"></script>
</body>
</html>
