{% extends "base.html" %}
{% block title %}Buy Stock{% endblock %}
{% block content %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<center>
    <h2>Buy Price Candlestick Chart for <span id="product-name">{{ product_id }}</span></h2>
</center>
<figure class="highcharts-figure">
    <div class="content">
        <div id="chart-container" style="height: 800px; min-width: 310px"></div>
    </div>
</figure>
<script type="text/javascript">
    var product_id = "{{product_id}}"
</script>
<script type="module" src="/static/js/stock2-chart.js"></script>
{% endblock %}
