<!DOCTYPE html>
<html>
<head>
    <title>DBMS Final Project</title>
    <link rel="stylesheet" href="/static/css/highcharts.css" />
    <link rel="stylesheet" href="/static/css/chart.css" />
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script>
        const product_id = '{{product_id}}';
    </script>
</head>
<body>
    <div class="content">
        <div class="section title">
            <h1>Buy Price Candlestick Chart for <span id="product-name">{{ product_id }}</span></h1>
        </div>
        <div id="chart-container" style="height: 800px; min-width: 310px"></div>
    </div>
    <script type="module" src="/static/js/stock2-chart.js"></script>
</body>
</html>
