<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>

<body>
    <div class="wsidebar" style="width:25%">
        <a href="#" class="w3-bar-item w3-button">Link 1</a>
        <a href="#" class="w3-bar-item w3-button">Link 2</a>
        <a href="#" class="w3-bar-item w3-button">Link 3</a>
    </div>
    <div style="margin-left:25%">
        <form action="#" method="post">
            <p>Product</p>
            <p><input type="text" name="product_name"></p>
            <p><input type="submit" value="submit"></p>
        </form>
    </div>
</body>

</html>
